#cabecalho {
  background-color: blue;
  text-align: center;
}
.conteiner {
  border: 2px solid black;
  width: 700px;
  padding: 50px;
  margin: 0 auto;
}
#endereco {
  padding: 50px;
  text-align: center;
}
